:root {
  font-family: "Fraunces", "Georgia", "Times New Roman", serif;
  line-height: 1.5;
  font-weight: 400;
  color: #2a1f1d;
  background: #fff7f0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #688765;
}

button {
  font-family: "Space Grotesk", "Trebuchet MS", system-ui, sans-serif;
  cursor: pointer;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
}

#root {
  display: block;
}
